# Rust
src-tauri/target/
**/*.rs.bk

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Tauri
src-tauri/gen/
src-tauri/target/release/
src-tauri/target/debug/

# Tauri build output
src-tauri/WixTools/
src-tauri/bundle/

# App data
*.db

.claude
/.claude

/cookie/
